<div class="container">
    <div class="row">
        <div class="col-md-7" *ngIf="id == 0 || id==2">
            <div class="row">
                <h1>Enter Equation</h1>
            </div>
            <div class="row">
                <input class="search-field" [(ngModel)]="equation1">
            </div>
            <div class="row" style="margin-left:250px;margin-top: 50px;">
                <button class="btn btn-secondary"  style="width:100px" (click)="Solve()">Submit</button>
            </div>
        </div>
        <div class="col-md-7" *ngIf="id == 1">
            <div class="row">
                <h1>Enter first Equation</h1>
            </div>
            <div class="row">
                <input class="search-field" [(ngModel)]="equation1">
            </div>
            <div class="row">
                <h1>Enter second Equation</h1>
            </div>
            <div class="row">
                <input class="search-field" [(ngModel)]="equation2">
            </div>
            <div class="row" style="margin-left:250px;margin-top: 50px;">
                <button class="btn btn-secondary"  style="width:100px" (click)="Solve()">Submit</button>
            </div>
        </div>
        <div class="col-md-5" *ngIf="solution != null && id==0 || id==2" style="margin-top:100px;">
            <h2>The Solution of equation {{equation1}} is {{solution}}</h2>
        </div>
        <div class="col-md-5" *ngIf="solution != null && id==1" style="margin-top:100px;">
            <h2>The Solution of equation {{equation1}} and {{equation2}} is x = {{solution['x']}} and y = {{solution['y']}}</h2>
        </div>
    </div>
   
</div>
<!-- <div style="margin-top: 20px;padding-left: 200px;">
    <p *ngIf="solution != null">{{solution}}</p>
</div> -->
